body { font-family: Comic Sans Ms, Futura, Arial; }
ul { padding: 0; }
li { list-style: none; }
li .team { display: inline-block; width: 5em; }
#iso {
position: absolute;
font-size: 200px;
z-index: -1;
color: #999999;
top: 0;
margin: 0 20%;
}
#iso.pow {
z-index: 2;
color: teal;
}
