<html>
<head>
  <link rel="stylesheet" href="leuat.css" type="text/css">
<body>
<h1>LEUKA STATSIT</h1>

<canvas id="leukakartta" width="400" height="400"></canvas>
<script src="/socket.io/socket.io.js"></script>
<script src="Bacon.js"></script>
<script src="jquery.js"></script>
<script src="jquery.cookie.js"></script>
<script src="fastclick.js"></script>
<script src="Chart.js"></script>
<script src="ramda.js"></script>
<script>

var colors = ["black", "red", "blue", "green", "magenta", "cyan"]

function getQuery() {
  var path=location.hash.substring(1)
  var query = !path.length ? "all/1/6" : path
  console.log(query)
  return query
}


function getStats(query) {
  return Bacon.fromPromise($.ajax("/leuat/"+query))
}

function makeCumulative(arr) {
  return R.scan(function(a,b) { return a+b })(0)(arr)
}

function showStats(allStats, cumulative) {
  console.log(allStats)
  var canvas = document.getElementById("leukakartta")
  canvas.width = document.body.offsetWidth * 0.9
  canvas.height = document.body.offsetWidth * 0.6
  var ctx = canvas.getContext("2d");
  var groupIds = []
  for (var groupId in allStats) { groupIds.push(groupId) }
  var labels = allStats[groupIds[0]].map(function(data) { return "" }).concat(["", ""])
  var i = 0
  var data = {
    labels: labels,
    datasets: groupIds.map(function(groupId) {
        var color = colors[i++]
        return {
            label: groupId,
            strokeColor:color,
            pointHighlightFill: color,
            fillColor: "rgba(220,220,220,0.2)",
            data: cumulative ? makeCumulative(allStats[groupId]) : allStats[groupId]
        }})
  }
  var myLineChart = new Chart(ctx).Line(data, {
    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
  })
}

var statsP = Bacon.fromEvent(window, "hashchange")
  .map(getQuery)
  .startWith(getQuery())
  .flatMap(getStats)
  .map(JSON.parse)
  .toProperty()

var checkbox = document.getElementById("cumulative")
var cumulativeP = Bacon.constant(true)

Bacon.onValues(statsP, cumulativeP, showStats)

</script>
</body>
</html>
